<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sambilan.sambilan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".SambilanApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD6xlAU4XcS0NRk7yRCHZ_NjEyUgq7Vfjc"/>

        <receiver android:name=".utils.ConnectionReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.MainMenuActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.RegisterPekerjaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.RegisterPekerjakanActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".view.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>


        <!--<activity-->
            <!--android:name=".view.MainMenuActivity"-->
            <!--android:configChanges="orientation"-->
            <!--android:screenOrientation="portrait"/>-->

        <activity
            android:name=".view.DetailJobActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.HalamanPermintaanActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.HalamanSelesaiActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"  />

        <activity
            android:name=".view.HalamanMenungguActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.HalamanDiterimaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"  />
    </application>

</manifest>