<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sambilan.sambilan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SambilanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".view.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.SambilanActivity"/>
        <activity android:name=".view.LoginActivity"/>
        <activity android:name=".view.DetailJobActivity" />
        <activity android:name=".view.HalamanPermintaanActivity" />
        <activity android:name=".view.HalamanSelesaiActivity" />
        <activity android:name=".view.HalamanMenungguActivity"/>
        <activity android:name=".view.HalamanDiterimaActivity" />
    </application>

</manifest>